.About {
  background-color: #f4efed;
  font-family: 'Spartan', sans-serif;
}

.About-text {
  padding: 0 1rem;
}

.About-section {
  width: 100%;
  margin-top: 4rem;
}

.About-section--right {
  margin-left: auto;
}

.About-headline {
  display: inline-block;
  margin-bottom: 1.875rem;
  font-family: 'Share Tech Mono', monospace;
}

@media screen and (min-width: 768px) {
  .About-text {
    padding: 60px 100px;
  }

  .About-section {
    width: 80%;
    margin-top: 4rem;
  }

  .About-section-content {
    display: flex;
    align-items: flex-start;
  }

  .About-section-content .paragraph {
    margin-left: 1.25rem;
    font-size: 1em;
    line-height: 1.5em;
  }
  .About-section .paragraph{
    font-size: 1em;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .About-section {
    width: 50%;
  }
}
