.App {
  background-color: #f4efed;
  font-family: 'Spartan', sans-serif;
}

.App .top {
  display: flex;
  height: 1000px;
}

.App .imagetop img {
  height: 80%;
  width: auto;
  margin-left: 40px;
}

.App .headlinetop{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -75px;
}

.App .texttop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    margin-left: 60px;
}

.App h2.title3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 8px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 70px;
  margin-bottom: 10px;
}

.App h2.title4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #ff3e71;
  padding: 8px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.App h2.title5 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 8px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 20px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.App .descriptiontop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App .titledescriptiontop {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 8px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 230px;
  margin-left: -155px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.App .textdescription {
  margin-top: -325px;
  margin-right: 300px;
    font-size: 17px;
}

.App .bottom {
  display: flex;
  height: 600px;
}

.App .bottom img {
  height: 105%;
  width: auto;
}

.App .bottom .text{
  text-align: left;
  display: block;
}

.App .headline{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0px;
}


.App h2.title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 7px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 45px;
  margin-bottom: 20px;
}

.App h2.title1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 7px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.App h2.title2 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 7px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 5px;
}

.App .bottom .image, .App .bottom .text {
  width: 40%;
  min-width: 400px;
}

.App .paragraph {
  margin-left: 260px;
  margin-right: -150px;
  display: inline-block;
  word-spacing: 3px;
}
