.title.rotated {
  display: inline-block;
}

.App {
  background-color: #f4efed;
  font-family: 'Spartan', sans-serif;
}

.App .title {
  font-family: 'Share Tech Mono', monospace;
}

.App .paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.App .paragraph p:first-of-type {
  margin-top: 0;
}

.App-home {
  display: flex;
  flex-direction: column;
}

.App-home-content {
  padding: 0 1rem;
}

.App-home-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-home-headline .title {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
}

.App-home-headline .title:nth-child(2) {
  color: #ff3e71;
}

.App-home-headline .title:nth-child(3) {
  font-size: 1rem;
}

.App-home-headline .title:not(:first-child) {
  margin-top: 0.5rem;
}

.App-home-text {
  margin-top: 4rem;
}

.App-activism {
  display: flex;
  flex-direction: column;
  position: relative;
}

.App-activism-content {
  padding: 0 1rem;
}

.App-activism-content .title:not(:first-child) {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .title.rotated {
    font-size: 1.25rem;
  }

  .App-home {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1.875rem;
    padding-right: 5%;
  }

  .App-home-image {
    max-width: 50%;
  }

  .App-home-content {
    padding: 0;
  }

  .App-activism {
    flex-direction: row-reverse;
    padding: 10rem 5%;
  }

  .App-activism-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    max-width: 50%;
  }

  .App-activism-content {
    padding: 0;
    width: 60%;
    z-index: 1;
  }
}

@media screen and (min-width: 1024px) {
  .title.rotated {
    font-size: 2.5rem;
  }

  .App-home-text {
    display: flex;
    align-items: flex-start;
  }

  .App-home-headline .title {
    font-size: 4rem;
  }

  .App-home-headline .title:nth-child(3) {
    font-size: 1.5rem;
  }

  .App-home-text .paragraph {
    margin-top: 0;
    margin-left: 1.25rem;
  }

  .App-activism-image {
    height: 100%;
  }

  .App-activism-content {
    width: 50%;
  }
}
