.App {
  background-color: #f4efed;
  font-family: 'Spartan', sans-serif;
}

.App .bottom {
  display: flex;
  height: 500px;
}

.App .bottom img {
  height: 100%;
  width: auto;
}

.App .bottom .text{
  text-align: left;
  display: block;
}

.App h2.title{
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 7px;
  font-family: 'Share Tech Mono', monospace;
  width: initial;
  font-size: 45px;
  margin-bottom: 50px;
}

.App .bottom .image, .App .bottom .text {
  width: 50%;
  min-width: 400px;
}

.App .paragraph {
  max-width: 500px;
}
