.Banner {
  color: white;
  height: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Share Tech Mono', monospace;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Banner h2.title {
  margin-block-start: 0em;
  font-size: 2.7em;
  margin-block-end: 0em;
  background-color: #232123;
  color: #f4efed;
  padding: 7px;
}

.Banner a.link {
  margin-top: 15px;
  text-decoration: none;
}

.Banner a.link h2.title {
  background-color: #ff3e71;
  color: #232123;
}
