.Banner {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  font-family: 'Share Tech Mono', monospace;
  padding: 8rem 1rem;
}

.Banner-container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Banner-title {
  text-align: center;
}

.Banner-link {
  background-color: #ff3e71;
  color: #232123;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .Banner-link {
    font-size: 2rem;
  }
}