#responsiveBar {
  display: none;
}

#desktopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topnav {
  font-family: 'Spartan', sans-serif;
  background-color: #f4efed;
  color:#232123;
  padding: 0 20px;
}

.topnav .navitem {
  display: block;
}

.topnav .logo a {
  padding-left: 0;
}

.topnav img.logo {
  width: 200px;
  height: auto;
}

.topnav .links {
  float: left;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  height: 100%;
}

.topnav .link {
  min-width: 100px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 0.8em;
}

.topnav a:hover {
  color: #ff3e71;
}

@media screen and (max-width: 1150px) {
  #responsiveBar {
    display: block;
  }

  #desktopBar {
    display: none;
  }
}
