.topnav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Spartan', sans-serif;
  background-color: #f4efed;
  color:#232123;
  padding: 0 20px;
}

.topnav .logo a {
  padding-left: 0;
}

.topnav img {
  width: 200px;
  height: auto;
}

.topnav .links {
  display: flex;
  justify-content: flex-end;
}

.topnav .link {
  min-width: 100px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 0.8em;
}

.topnav a:hover {
  color: #ff3e71;
}
